<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,Cyrillic" rel="stylesheet" type="text/css">
        <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/public/css/skeleton.css" rel="stylesheet" type="text/css">
        <link href="/public/css/cart.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <div class="content" id="n1">
            <div class="container">
                <div class="close">
                <div class="row">
                    <div class="four columns">
                        <figure>
                            <img src="/public/Img/hover.jpg">
                            <figcaption>Мышка для ПК</figcaption>
                        </figure>
                    </div>
                    <div class="five columns">
                        <h4>Необычная мышка</h4>
                        <p>Эта мышка имеет необычный дизайн и форму самолёта. В ней встроен новый функционал, она создана не для простого управления и только ОНА имеет уникальные возможности ... <a href="https://ru.m.wikipedia.org/wiki/Компьютерная_мышь">Подробное описание здель!!!</a></p>
                    </div>
                    <div class="three columns">
                        <button class="remove">X</button>
                        <div class="No">
                        <button class='add'>+</button>
                        <input value='1' type="text" class="num" name="Мышь">
                        <button class='abate'>-</button>
                        <span class="sum">20</span><span>Є</span>
                        </div>
                    </div>
                </div>
               </div>
               <div class="close">
                <div class="row">
                    <div class="four columns">
                        <figure>
                            <img src="/public/Img/hover1.jpg">
                            <figcaption>Чайник</figcaption>
                        </figure>
                    </div>
                    <div class="five columns">
                        <h4>Чайник Нового поколения</h4>
                        <p>Этот чайник разработан по последним технологиям. В мире всего несколько сотен данного экземпляра. Облодатель такой техники получает не просто стандартный чайник, ведь эта модель может ... <a href="https://ru.m.wikipedia.org/wiki/Электро_чайник">Характеристика</a></p>
                    </div>
                    <div class="three columns">
                            <button class="remove">X</button>
                            <div class="No">
                                <button class='add'>+</button>
                                <input value='1' type="text" class="num" name="Чайник">
                                <button class='abate'>-</button>                                
                                <span class="sum">50</span><span>Є</span>
                            </div>
                    </div>
                </div>
               </div>
               <div class="close">
                <div class="row">
                    <div class="four columns">
                        <figure>
                            <img src="/public/Img/hover2.jpg">
                            <figcaption>Светильник</figcaption>
                        </figure>
                    </div>
                    <div class="five columns">
                        <h4>Настольный светильник</h4>
                        <p>Данный светильник хоть и имеет необычную форму, но светопоток и насыщенность цвета с эфектом глудинного обстрактного свичения - детально можно ознакомится туту. <a href="https://ru.m.wikipedia.org/wiki/Светильник">Чудо техники</a></p>
                    </div>
                    <div class="three columns">
                            <button class="remove">X</button>
                            <div class="No">
                                <button class='add'>+</button>
                                <input value='1' type="text" class="num" name="Светильник">
                                <button class='abate'>-</button>                                
                                <span class="sum">100</span><span>Є</span>
                            </div>
                    </div>
                </div>
               </div>
               <div class="close">
                <div class="row">
                    <div class="four columns">
                        <figure>
                            <img src="/public/Img/hover3.jpg" alt="">
                            <figcaption>Весы</figcaption>
                        </figure>
                    </div>
                    <div class="five columns">
                        <h4>Кухонные весы</h4>
                        <p>На первый взгляд может покозаться что это, обычные кухонные весы. Но это только на первый взгляд так может покозаться, а если взять в руки, присмотреться и вы сразу увидите что секрет их в... <a href="https://ru.m.wikipedia.org/wiki/Весы">Подробно об этом</a></p>
                    </div>
                    <div class="three columns">
                            <button class="remove">X</button>
                            <div class="No">
                                <button class='add'>+</button>
                                <input value='1' type="text" class="num" name="Весы">
                                <button class='abate'>-</button>
                                <span class="sum">30</span><span>Є</span>
                            </div>
                    </div>
                </div>
               </div>
               <div class="end">
                <div class="row">
                    <span id="itog"></span><span class="itog">Є</span>
                </div>
                <div class="row">
                    <input type="submit" class="order" value="BUY" onclick="location.href='shipping'">
                </div>
            </div>
            </div>
    
        <script src="/public/Js/cart.js" type="text/javascript"></script>
    </body>
</html>