<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,Cyrillic" rel="stylesheet" type="text/css">
        <link href="/public/css/shipping.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data" action="#" id="form">
            <table>
                    <tr>
                        <td>Name*</td>
                        <td><input id="Name" type="text" placeholder="Имя Фамилия" maxlength="30"></td>
                    </tr>
                    <tr>
                        <td>Address*</td>
                        <td> <textarea id="Address"></textarea></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input id="Phone" type="tel" placeholder="+38" maxlength="13"></td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td><input id="Email" type="email">
                            <div id='error'></div>
                        </td>
                    </tr>
                    <tr>
                        <!--Поле "Shipping options" в блокировке (disabled) не задействована - ПРИ сумма заказа
                            меньше 300 евро - Клиент может сам выбрать доставку. Ну, а если сумма 300 евро и выше - доставка 
                            у нас задана автоматически "Free express shipping".-->
                        <td>Shipping options</td>
                        <td>
                            <select class="delivery">
                            <option disabled selected>Free shipping</option>
                            <option value="9.99">Express shipping</option>
                            <option value="19.99">Courier shipping</option>
                           </select>
                        </td>
                    </tr>
                </table>
                <input id="subm" type="submit"value="PAY" disabled>
        </form>
        
        <script src="/public/Js/shipping.js" type="text/javascript"></script>
    </body>
</html>